{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^(?!@chakra-ui/react$)",
    "^@chakra-ui/react$",
    "^@/assets/css",
    "^@/components",
    "^@/hooks",
    "^@/pages",
    "^@/services",
    "^@/types",
    "^@/utils",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}